body {
    font-family: Averta Std;
}
.img-new-member {
    position: relative;
    width: 35px;
    height: 30px;
    border-radius: 50%;
}
.img-author-avatar {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.card-header {
    background-color: #242C3C;
    width: 19.45rem;
    height: 5.563rem;
    border-radius: 5px;
}
.title-document {
    font-family: Averta Std;
    font-style: normal; 
    font-weight: bold; 
    font-size: 16px; 
    line-height: 20px;
    color: #00D7AA;
}
.text-infor-document {
    font-family: Averta Std;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #333333;
}
.avatar-author {
    border-radius: 50%;
}
.label-category {
    width: 150px;
    height: 30px;
    background-color: #b3b8b9;
    border-radius: 5px;
    text-align: center;
}
/* FOOTER*/
footer {
position: relative;
background: #242C3C;
color: #FFFFFF;
font-family: Averta Std;
}