.img-new-member {
    position: relative;
    width: 35px;
    height: 30px;
}
.text-infor-document {
    font-family: Averta Std;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #333333;
}
.avatar-author {
    border-radius: 50%;
}