body {
    font-family: Averta Std;
}
.img-new-member {
    position: relative;
    width: 35px;
    height: 30px;
    border-radius: 50%;
}
.img-author-avatar {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.index-banner {
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 396px;
    margin-left: auto;
    margin-right: auto;

    background: #5553F3;
    background-image: url("./images/index-banner.png");
}
.text-bannner {
    position: absolute;
    width: 430px;
    height: 50px;
    left: 40%;
    top: 45%;

    font-family: Averta Std;
    font-size: 40px;
    line-height: 47px;

    color: #FFFFFF;
}
.text-content-banner {
    position: absolute;
    width: auto;
    height: 52px;
    left: 30%;
    top: 60%;

    font-family: Averta Std;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    /* Màu phụ 2 */

    color: #E6EEF3;
}

.tab-upload {
    margin-top: -5em;
}

.tab-upload-content {
    margin-top: 1em;
}

.text-bonus {
    background: #F2F2F2;
    border-radius: 7px;
    text-align: center;
}

.upload-form {
    margin-top: 2em;
}
.text-dropdown {
    text-transform: none;
}

/* FOOTER*/
footer {
position: relative;
background: #242C3C;
color: #FFFFFF;
font-family: Averta Std;
}